<a href="https://colab.research.google.com/github/suvasish114/ML-Models/blob/main/tweet_scraper.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Scrapping twitter data

In [ ]:
# installing packages
%pip install snscrape numpy pandas

In [42]:
# import libraries
import snscrape.modules.twitter as sntwitter
import pandas as pd

In [43]:
# configarations
limit = 50000
tweets = []
keywords = " OR ".join(["airport","restaurant","stadiums"]).strip()
query =  "("+ keywords +") " +"until:2023-03-05 since:2022-01-01 -filter:replies"

In [44]:
# getting data
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
  if len(tweets) == limit: break
  tweets.append([tweet.id,
                 tweet.date,
                 tweet.user.username,
                 tweet.user.id,
                 tweet.likeCount,
                 tweet.viewCount,
                 tweet.lang,
                 tweet.hashtags,
                 tweet.rawContent])

In [45]:
# creating dataframe
df = pd.DataFrame(tweets, columns=['id','date','username','userid','likes','view','lang','hashtags','content'])
df.head()

,id,date,username,userid,likes,view,lang,hashtags,content
0,1632169035721736193,2023-03-04 23:59:57+00:00,WilliamsonClet,882526585500442624,0,9.0,en,None,MY SEMI DIRECT BRIEF\n\nA client needs a space...
1,1632168990444507136,2023-03-04 23:59:46+00:00,sal_definitely,1575281313774706688,3,136.0,en,None,If you want to find a bunch of happy Mexicans ...
2,1632168988166725632,2023-03-04 23:59:45+00:00,Lina_7B,1259502755879833602,1,638.0,en,"[BLACKPINK, BLINK, BORNPINK, Airport, LISA, JE...",230305 | BLACKPINK SGBAC Airport Fashion\n\nWe...
3,1632168936996507649,2023-03-04 23:59:33+00:00,gopikrishnat68,1626901430140538880,0,22.0,en,None,Hi and hello @BLRAirport i didn't understand t...
4,1632168936811659264,2023-03-04 23:59:33+00:00,YPJAirport,943123769480089604,0,NaN,en,[flightaware],Air Inuit #852 arrived at Aupaluk (YPJ) at 06:...

In [46]:
df.to_csv("twitter.csv")